<div class="container">
    <h1>Create</h1>
    <form class="col s12" action="/users/create" method="POST">
        <div class="input-field col s12">
            <input id="Users[username]" name="Users[username]" type="text" class="validate" required>
            <label for="username">Name</label>
        </div>

        <div class="input-field col s12">
            <input id="Users[password]" name="Users[password]" type="password" class="validate" required>
            <label for="password">Password</label>
        </div>

        <diV class="input-field col s6">
            <button class="btn waves-effect waves-light" type="submit" name="action">Guardar</button>
            <a href="/" class="waves-effect waves-light btn">Index</a>
        </diV>
    </form>


</div>