<form action="/users/create" method="post">
    <input type="text" name="Users[username]" placeholder="User"><br>
    <input type="password" name="Users[password]" placeholder="password"><br>
    <input type="submit" name="guardar" value="Guardar">
</form>
<a href="/">Index</a>